<section id="get-in-touch" class="get-in-touch has-margin-bottom-large">
	<div class="container">
		<div class="columns">
			<div class="column is-offset-2 is-8">
				<div class="has-padding-horiz-large">
					<header>
						<h2 class="is-relative">
							<span class="rectangle left"></span>
							To get in touch or submit work for consideration, send us a signal
						</h2>
					</header>
					
					<form action="" class="has-padding-top-medium">
						<input type="text" placeholder="What do you call yourself?">
						<input type="text" placeholder="What do you call yourself?">
						<input type="text" placeholder="What do you call yourself?">
						<input type="text" placeholder="What do you call yourself?">
						<input type="submit" value="Transmit" class="btn-outline">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>