<section id="who-is-yoxi" class="who-is-yoxi has-margin-bottom-xl">
	<div class="container">
			<div class="is-offset-2-md is-7-md">
				<header>
					<h2 class="is-relative is-fs-3 is-fs-5-md">
						<span class="rectangle right small offset-large"></span>
						Who is behind Yoxi and its mission?
					</h2>
				</header>
			</div>
		<div class="columns">
			<div class="column is-offset-2-md">
				<div class="bios has-margin-top-large">

					{% for person in site.data.bios %}
					<article class="bio has-margin-bottom-large">
						<div class="is-flex-md align-items-end">

							<figure class="bio-image has-padding-right-md is-marginless">
								<img src="{{person.image}}" alt="">
							</figure>

							<div class="bio-quote">
								<header class="has-padding-right-large-lg has-padding-bottom-large">
									<p class="bio-question is-fs-2 is-marginless">{{person.question}}</p>
								</header>
								<p class="bio-cite is-strong is-marginless is-flex is-align-center">
									<span class="is-flex-expand">{{person.name}}, {{person.title}}</span>
									<span class="is-block leading-0">
										<button class="bio-toggle">
											<svg class="is-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
												<path d="M30.69,15H17V1.31C17,.58,16.72,0,16,0s-1,.58-1,1.31V15H1.31C.58,15,0,15.28,0,16s.58,1,1.31,1H15V30.69c0,.72.28,1.31,1,1.31s1-.58,1-1.31V17H30.69c.72,0,1.31-.28,1.31-1S31.42,15,30.69,15Z"/>
											</svg>
										</button>
									</span>
								</p>
								<svg class="bio-quote-tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
									<polygon points="0 0 0 31.65 31.64 0 0 0"/>
								</svg>
							</div>
						</div>
						<div class="is-offset-2-md is-7-md has-padding-left-medium-md has-padding-bottom-large">
							<div class="bio-text">
								{{person.bio | markdownify}}
							</div>
						</div>

					</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
