.modal
	display: none
	// overflow: scroll
	z-index: 999

	.modal-open &
		display: block

	label,
	.input-group
		margin: .5rem 0 !important

.modal-heading
	font-size: 3rem
	line-height: 1.2

.modal-container
	height: 100%
	width: 100%
	padding: 6rem 2rem
	overflow: scroll
	
	+from($bp-md)
		padding: 6rem

.radio
	margin: $button-padding 0
	input[type="radio"]
		display: none
		opacity: 0

.input-group
	+from($bp-md)
		display: flex

	& > * + *
		border-left: none !important
		margin: 0

.modal-form
	.input-text,
	button,
	.radio
		padding: $button-padding
		color: white

	.input-text
		&:hover,
		&:focus
			background: transparent
	
	.radio
		font-weight: 700
		width: 100%

.modal-section-results
	
	.modal-result
		margin: 2rem 0

	.modal-result-number
		width: 8rem
		line-height: 1
		margin: 0
		margin-right: 1rem

	.modal-result-description
		line-height: 1.2
		flex: 1
