.what-is-yoxi 
	p
		margin-left: 14rem

	.rectangle 
		+rectangle()
		bottom: -7rem
		left: -12rem

.who-is-yoxi 
	.rectangle 
		+rectangle(236px)
		bottom: 2rem
		right: -7rem

.bio-image,
.bio-quote
	z-index: 2
	position: relative

.bio-image
	padding-right: 1rem
	padding-top: 8rem

.bio-quote
	background-color: $color-primary
	padding: 1.5rem 1.5rem 1rem
	height: 14rem
	display: flex
	flex-direction: column

.bio-text
	background-color: white
	color: black
	position: relative
	z-index: 1
	padding: 1rem
	outline: 4rem solid white

.bio-question
	font-weight: bold
	font-size: 1.4em
	line-height: 1.2
	flex: 1

.bio-text
	// display: none
	max-height: 0
	overflow: hidden
	opacity: 0
	+transition-all

.bio-toggle
	&:hover 
		color: white

.bio-body.is-open 
	.bio-text
		max-height: 100%
		margin-bottom: 4rem
		opacity: 1

	.bio-toggle
		transform: rotate(45deg)

.how-has-yoxi-evolved 
	.rectangle 
		+rectangle()
		bottom: -4.5rem
		left: -10.875rem

.explore-yoxi 
	.rectangle 
		+rectangle(236px)
		bottom: -1rem
		right: -7rem
	li
		display: inline-block
		width: 45%
		margin-right: 1rem
		margin-bottom: 1rem
	li a
		display: block
		padding: 1rem
	.fa
		margin-right: 1rem
.get-in-touch
	form
		position: relative
	input,
	input[type="submit"]
		margin: 2rem 0
		padding: 2rem
	header
		margin-bottom: 5rem
	.rectangle
		bottom: -5rem
		left: -9rem