html,body 
	background-color: $site-bg
	font-size: 16px
	+from(1600px)
		font-size: $base-font-size

=rectangle($size: 378px) 
	width: $size
	height: $size
	display: block

button
	&:hover
		cursor: pointer
	&:focus
		outline: none

.is-relative
	z-index: 0

.rectangle
	+rectangle
	background-color: $color-primary
	z-index: -1
	position: absolute

.site-header 
	z-index: 99999
	width: 100%

	.site-logo 
		width: 100px

.site-header-container
	height: 300px

.has-margin-bottom-xl
	margin-bottom: 18rem

h2 
	font-size: 3.75em
	line-height: 1.2
	z-index: 1
	position: relative

button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"]
	background-color: $color-primary
	color: white
	font-weight: bold
	font-weight: 700
	border: none
	+transition-all

	&:hover
		background-color: white
		color: $color-primary

.what-is-yoxi 
	p
		margin-left: 14rem

	.rectangle 
		+rectangle()
		bottom: -7rem
		left: -12rem

.who-is-yoxi 
	.rectangle 
		+rectangle(236px)
		bottom: 2rem
		right: -7rem

.how-has-yoxi-evolved 
	h2
		margin-bottom: 7rem
	.rectangle 
		+rectangle()
		bottom: -4.5rem
		left: -10.875rem

.how-has-yoxi-evolved 
	.rectangle 
		+rectangle()
		bottom: -4.5rem
		left: -10.875rem

.get-in-touch
	form
		position: relative
	input
		margin: 2rem 0
		padding: 2rem
	header
		margin-bottom: 5rem
	.rectangle
		top: -2rem
		left: -4rem

.site-footer
	nav a + a
		margin-left: 1rem

	.fa
		padding: .5rem
		border-radius: 50%
		width: 2rem
		margin-right: .25rem
		background-color: rgba(0,0,0,0.1)