$indent: 3rem

.timeline-date
	flex: 0

.timeline-events
	border-left: 2px solid $color-primary
	margin: 0
	padding-bottom: 5rem

.timeline-section:last-of-type 
	.timeline-events
		padding-bottom: 0

.timeline-event
	margin: 0 0 0 $indent
	padding: .25rem 0
	position: relative
	&:before
		content: ""
		height: 1rem
		width: 1rem
		position: absolute
		top: 50%
		left: -($indent + .6rem)
		transform: translateY(-50%)
		border-radius: 50%

	&.level-primary,
	&.level-secondary
		font-weight: bold
		font-weight: 700
		font-size: 1.25em

	&.level-primary
		color: $color-primary
		&:before
			background-color: $color-primary


	&.level-secondary
		color: white
		&:before
			background-color: white