<section class="site-header-container">
	<header id="site-header" class="site-header is-fixed to-top is-marginless">
		<h1 class="is-seo-hidden">{{site.title}}</h1>
		<img class="site-logo is-block is-marginless" src="{{ "assets/imgs/yoxi-logo-square.jpg" | prepend: site.baseurl }}" alt="{{site.title}} Logo">
		<div class="site-nav">
			<button class="nav-toggle"><i class="fa fa-plus"></i></button>
			<!-- <a href="#" class="nav-toggle"><i class="fa fa-plus"></i></a> -->
			<nav class="nav-links">
				<a href="#what-is-yoxi" class="nav-item is-link-wrapper">What is Yoxi and why does it fund exploration?</a>
				<a href="#who-is-yoxi" class="nav-item is-link-wrapper">Who is behind Yoxi and its mission?</a>
				<a href="#how-has-yoxi-evolved" class="nav-item is-link-wrapper">How has Yoxi evolved and what efforts has it supported?</a>
				<a href="#get-in-touch" class="nav-item is-link-wrapper">How can I get in touch or submit my project for considerations?</a>
			</nav>
		</div>
	</header>
</section>