---
layout: default
---

<section id="what-is-yoxi" class="what-is-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<header class="column is-offset-3 is-8">
				<h2 class="is-relative is-11">
					<span class="rectangle"></span>
					What is Yoxi and why does it fund exploration?
				</h2>
				<p>At Yoxi, we don’t presume to know, especially as the rapid pace of global change intensifies and interconnected systems become more complex. But we are driven by a passion for mastering the art of asking better questions in order to create better solutions. And, with the support and resources of TTSL, our parent organization, we employ a variety of tools to conduct our experiments around creating positive social impact via innovative market solutions. We see our investments in extraordinary leaders as humble yet heroic, arriving at a critical moment in time, and right-sized for what’s needed to deepen and extend meaningful inquiry.</p>
			</header>
		</div>
	</div>
</section>

<section id="who-is-yoxi" class="who-is-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<header class="column is-offset-3 is-7">
				<h2 class="is-relative">
					<span class="rectangle"></span>
					Who is behind Yoxi and its mission?
				</h2>
			</header>
		</div>
	</div>
</section>

<section id="how-has-yoxi-evolved" class="how-has-yoxi-evolved has-margin-bottom-xl">
	<div class="container">

		<div class="columns">
			<header class="column is-offset-3 is-7 has-padding-bottom-large">
				<h2 class="is-relative">
					<span class="rectangle"></span>
					How has Yoxi evolved and what efforts has it supported?
				</h2>
				<p>We invest in journeys of the unknown, support explorers with a commitment to pursue truth and beauty, and conduct experiments of our own. We believe learning is the most valuable ROI - and we are open and honest about our findings. Dig in below!</p>
			</header>
		</div>

		<div class="columns">
			<div class="column is-offset-2 is-8 has-padding-bottom">

				<section class="columns timeline-section">
					<h3 class="timeline-date is-fs-2 column is-marginless">2018</h3>
					<div class="column">
						<ul class="timeline-events is-unstyled">
							<li class="timeline-event level">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
						</ul>
					</div>
				</section>
				<section class="columns timeline-section">
					<h3 class="timeline-date is-fs-2 column is-marginless">2018</h3>
					<div class="column">
						<ul class="timeline-events is-unstyled">
							<li class="timeline-event level">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
						</ul>
					</div>
				</section>
				<section class="columns timeline-section">
					<h3 class="timeline-date is-fs-2 column is-marginless">2018</h3>
					<div class="column">
						<ul class="timeline-events is-unstyled">
							<li class="timeline-event level">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
							<li class="timeline-event">Yoxi 8.0 Explorers of Beautiful Future</li>
						</ul>
					</div>
				</section>

			</div>
		</div>

	</div>
</section>

<section id="get-in-touch" class="get-in-touch has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<div class="column is-offset-2 is-8">
				<div class="has-padding-horiz-large">
					<header>
						<h2 class="is-relative">
							<!-- <span class="rectangle"></span> -->
							How can I get in touch or submit my project for considerations?
						</h2>
					</header>
					<p class="is-strong is-relative">
						Send us a signal
						<span class="rectangle"></span>
					</p>
					
					<form action="">
						<input type="text" placeholder="What do you call yourself?">
						<input type="text" placeholder="What do you call yourself?">
						<input type="text" placeholder="What do you call yourself?">
						<input type="text" placeholder="What do you call yourself?">
						<input type="submit" value="Transmit">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>