---
layout: default
---

<section class="what-is-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<header class="column is-offset-3 is-8">
				<h2 class="is-relative is-11">
					<span class="rectangle rectangle-200"></span>
					What is Yoxi and why does it fund exploration?
				</h2>
				<p>At Yoxi, we don’t presume to know, especially as the rapid pace of global change intensifies and interconnected systems become more complex. But we are driven by a passion for mastering the art of asking better questions in order to create better solutions. And, with the support and resources of TTSL, our parent organization, we employ a variety of tools to conduct our experiments around creating positive social impact via innovative market solutions. We see our investments in extraordinary leaders as humble yet heroic, arriving at a critical moment in time, and right-sized for what’s needed to deepen and extend meaningful inquiry.</p>
			</header>
		</div>
	</div>
</section>

<section class="who-is-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<header class="column is-offset-3 is-7">
				<h2 class="is-relative">
					<span class="rectangle rectangle-200"></span>
					Who is behind Yoxi and its mission?
				</h2>
			</header>
		</div>
	</div>
</section>

<section class="how-has-yoxi-evolved has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<header class="column is-offset-3 is-7">
				<h2 class="is-relative">
					<span class="rectangle rectangle-200"></span>
					How has Yoxi evolved and what efforts has it supported?
				</h2>
			</header>
		</div>
	</div>
</section>

<section class="get-in-touch has-margin-bottom-xl">
	<div class="container">
		<div class="columns">
			<header class="column is-offset-3 is-7">
				<h2 class="is-relative">
					<span class="rectangle rectangle-200"></span>
					How can I get in touch or submit my project for considerations?
				</h2>
			</header>
		</div>
	</div>
</section>